/* src/components/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #edede9;
  }
  
  .navbar-logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar-links li a:hover {
    color: #d5bdaf;
  }
  